.Header {
  background: #673ab7;
}

.Header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Logo {
  font-weight: 400;
  font-size: 28px;
  color: #fff;
  text-decoration: none;
  user-select: none;
}

.Nav {
  display: flex;
}

.Nav a,
.Nav button {
  display: block;
  padding: 24px 25px 25px 25px;
  color: #fff;
  text-decoration: none;
  user-select: none;
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 1;
  box-sizing: border-box;
  cursor: pointer;
  outline: none;
  transition: .2s;
  font-family: 'Montserrat', sans-serif;
}

.Nav a:hover,
.Nav button:hover {
  background: #fff;
  color: #673ab7;
}
